<div class="animated fadeIn">
  <div class="row">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 部署一覧
      </div>
      <div class="card-block">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>部署名</th>
              <th>場所</th>
              <th>メンバー数</th>
              <th>リーダ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="vm.departments.length === 0">
              <td colspan="5">データが見つかりません。</td>
            </tr>
            <tr ng-repeat="department in vm.departments">
              <td>{{department.name}}</td>
              <td>{{department.location}}</td>
              <td>{{department.memberCnt}}</td>
              <td>{{department.leader.displayName}}</td>
              <td>
                <button type="button" class="btn btn-success">編集</button>
                <button type="button" class="btn btn-danger">削除</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>