<div class="animated fadeIn">
  <div class="row pb-3">
    <div class="col-lg-12 text-center">
      <button type="button" class="btn btn-outline-primary" ng-click="vm.lastMonth()">前</button>
      <span class="h2 mx-3" ng-bind="vm.currentMonth.format('YYYY[年]MMMM')"></span>
      <button type="button" class="btn btn-outline-primary" ng-click="vm.nextMonth()">次</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-calendar"></i> 勤務表
          <span class="pull-right" uib-dropdown>
            <a href id="simple-dropdown" uib-dropdown-toggle>Menu</a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
              <li><a href>全て作成</a></li>
              <li><a href>全て削除</a></li>
              <li><a href>ああああああああああああ</a></li>
              <li><a href>いいいいいいいいいいいいい</a></li>
            </ul>
          </span>
        </div>
        <div class="card-block">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th rowspan="2">日付</th>
                <th rowspan="2">曜日</th>
                <th rowspan="2">作業</th>
                <th colspan="2">勤務時間</th>
                <th rowspan="2">休憩時間</th>
                <th rowspan="2">時間外</th>
                <th rowspan="2">深夜</th>
                <th rowspan="2">休出</th>
                <th rowspan="2">休深</th>
                <th rowspan="2">振替</th>
                <th rowspan="2">休日形態</th>
                <th rowspan="2">操作</th>
              </tr>
              <tr>
                <th>開始</th>
                <th>終了</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.datas" ng-class="{'bg-danger': day.day() === 0, 'bg-warning': day.day() === 6 }">
                <td ng-class="{'bg-danger': item.date.day() === 0, 'bg-warning': item.date.day() === 6 }" ng-bind="item.date.format('MMMM D[日]')"></td>
                <td ng-class="{'bg-danger': item.date.day() === 0, 'bg-warning': item.date.day() === 6 }" ng-bind="item.date.format('dddd')"></td>
                <td colspan="11">
                  <button type="button" class="btn btn-outline-default" ng-if="!item.data._id" ng-click="vm.createWorkdate(item.date)">作成</button>
                  <button type="button" class="btn btn-success" ng-if="item.data._id" ng-click="vm.viewWorkdate(item.data)">編集</button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>