<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a ui-sref="home" class="al-logo clearfix"><span>KTCC</span>Admin</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}"/>
      </a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
          <a ui-sref="{{item.state}}">
            <i ng-class="item.icon"></i>{{ item.title }}
          </a>
        </li>
        <li class="divider"></li>
        <li><a href="/api/auth/signout" target="_self"><i class="fa fa-power-off"></i>Signout</a></li>
      </ul>
    </div>
    <msg-center></msg-center>
  </div>
</div>