<div class="sidebar" ng-controller="SidebarController as vm">
  <div class="profile d-lg-none" ng-if=" vm.isLogged">
    <img ng-src="/{{vm.user.profileImageURL}}" alt="{{vm.user.displayName}}" class="avatar">
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="home"><i class="icon-home"></i> ホーム</a>
      </li>
      <li class="divider d-lg-none"></li>
      <li class="nav-item nav-dropdown d-lg-none" ng-class="{open: $state.includes('profile')}" ng-if="vm.isLogged">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('profile')}" href="#"><i class="icon-puzzle"></i> アカウント</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="profile.view"><i class="fa fa-bell-o"></i> お知らせ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="profile.view"><i class="fa fa-envelope-o"></i> メッセージ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="profile.view"><i class="fa fa-tasks"></i> タスク</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="profile.view"><i class="fa fa-comments"></i> チャット</a>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('workdates')}" ng-if="vm.isLogged">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('workdates')}" href="#"><i class="fa fa-calendar"></i> 勤務時間</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="workdates.list"><i class="fa fa-list"></i> 一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="workdates.create"><i class="fa fa-calendar-plus-o"></i> 登録</a>
          </li>
        </ul>
      </li>
      <li class="divider d-lg-none"></li>
      <li class="nav-item nav-dropdown d-lg-none" ng-class="{open: $state.includes('profile')}" ng-if="vm.isLogged">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('profile')}" href="#"><i class="icon-puzzle"></i> システム</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="profile.view"><i class="fa fa-user"></i> プロファイル管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="profile.view"><i class="fa fa-wrench"></i> 設定</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="profile.view"><i class="fa fa-file"></i> プロジェクト</a>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" href="/api/auth/signout" target="_self"><i class="fa fa-sign-out"></i> ログアウト</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">Combonents</li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('combonents')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('combonents')}" href="#"><i class="icon-puzzle"></i> Combonents</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.buttons"><i class="icon-puzzle"></i> Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.social-buttons"><i class="icon-puzzle"></i> Social Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.cards"><i class="icon-puzzle"></i> Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.forms"><i class="icon-puzzle"></i> Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.switches"><i class="icon-puzzle"></i> Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.tables"><i class="icon-puzzle"></i> Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.login"><i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.register"><i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.404"><i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="combonents.500"><i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>