@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}

.cropArea {
  background: #E4E4E4;
  height: 300px;
  width: 300px;
}
.user-common-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%; }
.user-common-avatar-small {
  width: 28px;
  height: 28px;
  border-radius: 50%; }