<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <a ui-sref="admin.users.new" class="btn btn-primary pull-right mg10r">Add new</a>
    </div>
  </div>
</div>

<!--<div class="row mg12t">
  <div class="col-xs-12">
    <uib-accordion close-others="true" ng-init="openAdvance = false;">
      <uib-accordion-group is-open="openAdvance">
        <uib-accordion-heading>
          <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openAdvance}"></i> Search tools
        </uib-accordion-heading>
        <div class="form-group">
          <div class="col-sm-12">
            <label for="search">Search</label>
            <input name="search" id="search" class="form-control" type="text" ng-model="vm.condition.search" placeholder="Search" />
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <label for="status">Status</label>
            <select id="status" name="status" class="form-control input-sm" ng-model="vm.condition.status">
              <option value>All</option>
              <option value="1">Not verified</option>
              <option value="2">Active</option>
              <option value="3">Blocked</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="roles">Role</label>
            <select id="roles" name="roles" class="form-control input-sm" ng-model="vm.condition.roles">
              <option value>All</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <label for="provider">Provider</label>
            <select id="provider" name="provider" class="form-control input-sm" ng-model="vm.condition.provider">
              <option value>All</option>
              <option value="local">Local</option>
              <option value="facebook">Facebook</option>
              <option value="twitter">Twitter</option>
              <option value="linkedin">Linkedin</option>
              <option value="google">Google plus</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="created">Joined before</label>
            <input id="created" name="created" class="form-control input-sm" today="true" moment-picker="vm.condition.created" ng-model="vm.condition.created"
              format="YYYY/MM/DD" start-view="month" placeholder="Select a date..." additions="{ bottom: 'bottom-template-url' }">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <label for="language">Language</label>
            <select id="language" name="language" class="form-control input-sm" ng-model="vm.condition.language">
              <option value>All</option>
              <option ng-repeat="lang in vm.supportedLanguages" value="{{lang}}">{{:: lang | translate }}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="sort">Sort by</label>
            <select id="sort" name="sort" class="form-control input-sm" ng-model="vm.condition.sort">
              <option value>Default</option>
              <option value="-report.rank">Rank</option>
              <option value="-created">Newest to oldest</option>
              <option value="created">Oldest to newest</option>
              <option value="-report.pollCnt">Most polls</option>
              <option value="report.pollCnt">Least polls</option>
              <option value="-report.cmtCnt">Most comments</option>
              <option value="report.cmtCnt">Least comments</option>
              <option value="-report.voteCnt">Most votes</option>
              <option value="report.voteCnt">Least votes</option>
              <option value="-report.beReportCnt">Most be reported</option>
              <option value="report.beReportCnt">Least be reported</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn btn-primary btn-sm pull-right" ng-click="vm.handleSearch()">Search</button>
            <button class="btn btn-default btn-sm pull-right mg10r" ng-click="vm.handleClearCondition()">Clear</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>-->

<div class="row">
  <div class="col-xs-12">

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="bg-primary">
          <tr>
            <th class="text-center">Avatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Joined</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.users">
            <td class="text-center">
              <div class="admin-avatar">
                <img src="{{:: item.profileImageURL }}" class="img-admin-avatar">
              </div>
            </td>

            <td>{{:: item.displayName }}</td>
            <td>{{:: item.email }}</td>
            <td>{{:: item.created }}</td>
            <td>{{:: item.roles }}</td>
            <td>
              <div class="dropdown" uib-dropdown>
                <a class="btn btn-primary btn-sm" role="button" uib-dropdown-toggle>Options</a>
                <ul class="dropdown-menu" role="menu" style="left: -100px; z-index: 2;">
                  <li><a href="#">Detail</a></li>
                  <li><a href="#">Detail 1</a></li>
                  <li><a href="#">Detail 2</a></li>
                  <li><a href="#">Detail 3</a></li>
                  <li><a href="#">Detail 4</a></li>
                  <li><a href="#">Detail 5</a></li>
                  <li><a href="#">Detail 6</a></li>
                  <li><a href="#">Detail 7</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li ng-repeat="page in vm.totalPage" ng-class="{'active': page === vm.page}"><a ng-click="vm.handleChangePage(page)">{{page}}</a></li>
      </ul>
    </div>
  </div>
</div>

<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()"
        />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
    ng-change="vm.pageChanged()"></uib-pagination>
</section>