<div class="row animated fadeIn mg12t">
  <div class="col-xs-12">
    <div class="form-group">
      <a ng-if="isVip || isAdmin" ui-sref="users.new" class="btn btn-primary pull-right mg10r">Add new</a>
    </div>
  </div>

  <div class="col-xs-12 mg12t">
    <div class="well">
      <div class="form-group">
        <div class="col-sm-12">
          <label for="search">検索</label>
          <input name="search" id="search" class="form-control" type="text" ng-model="vm.condition.search" placeholder="検索キー" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <label for="status">状態</label>
          <select id="status" name="status" class="form-control" ng-model="vm.condition.status">
              <option value>指定しない</option>
              <option value="1">働いている</option></option>
              <option value="2">退社済</option>
            </select>
        </div>
        <div class="col-sm-6">
          <label for="roles">役割</label>
          <select id="roles" name="roles" class="form-control" ng-model="vm.condition.roles">
              <option value>指定しない</option>
              <option value="user">一般社員</option>
              <option value="admin">経理部</option>
              <option value="manage">マネージャ</option>
            </select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <label for="department">部署</label>
          <select id="department" name="department" class="form-control" ng-model="vm.condition.department">
              <option value>指定しない</option>
              <option ng-repeat="dep in vm.departments" value="{{dep._id}}" ng-selected="dep._id.toString() === vm.condition.department.toString()">{{:: dep.name}}</option>
            </select>
        </div>
        <div class="col-sm-6">
          <label for="sort">並び順</label>
          <select id="sort" name="sort" class="form-control" ng-model="vm.condition.sort">
              <option value>デフォルト</option>
            </select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-group mgnb">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-sm pull-right" ng-click="vm.handleSearch()">Search</button>
          <button class="btn btn-default btn-sm pull-right mg10r" ng-click="vm.handleClearCondition()">Clear</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="table-responsive pd200b">
      <table class="table table-bordered">
        <thead class="bg-primary">
          <tr>
            <th class="text-center">Avatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Joined</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.users">
            <td class="text-center">
              <a ui-sref="users.view({ userId: item._id })">
                <img src="/{{:: item.profileImageURL }}" class="user-common-avatar-small">
              </a>
            </td>

            <td><a ui-sref="users.view({ userId: item._id })">{{:: item.displayName }}</a></td>
            <td>{{:: item.email }}</td>
            <td>{{:: item.created }}</td>
            <td>{{:: item.roles | RoleFilter }}</td>
            <td>
              <div class="dropdown" uib-dropdown ng-if="user._id !== item._id">
                <a class="btn btn-primary btn-sm" role="button" uib-dropdown-toggle>操作&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="left: -100px; z-index: 2;">
                  <li ng-if="isVip"><a ng-click="vm.handleDeleteUser()">削除</a></li>
                  <li ng-if="isVip || isAdmin || (isManager && item.roles.length === 1)"><a ui-sref="users.months({ userId: item._id })">勤務表レビュー</a></li>
                  <li ng-if="isVip || isAdmin || (isManager && item.roles.length === 1)"><a ui-sref="users.workoff({ userId: item._id })">休暇レビュー</a></li>
                  <li ng-if="isVip || isAdmin || (isManager && item.roles.length === 1)"><a ui-sref="users.edit({ userId: item._id })">編集</a></li>
                  <li><a ng-click="vm.sendMessage()">メッセージ送信</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination" ng-if="vm.totalPage.length > 1">
        <li ng-repeat="page in vm.totalPage" ng-class="{'active': page === vm.page}"><a ng-click="vm.handleChangePage(page)">{{page}}</a></li>
      </ul>
    </div>
  </div>
</div>