
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent; }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #cfd8dc; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #cfd8dc; }
  .table tbody + tbody {
    border-top: 2px solid #cfd8dc; }
  .table .table {
    background-color: #e4e5e6; }

.table-sm th,
.table-sm td {
  padding: 0.3rem; }

.table-bordered {
  border: 1px solid #cfd8dc; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #cfd8dc; }
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eceff1; }

.table-hover tbody tr:hover {
  background-color: #eceff1; }

.table-active,
.table-active > th,
.table-active > td {
  background-color: #eceff1; }

.table-hover .table-active:hover {
  background-color: #dde3e6; }
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: #dde3e6; }

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8; }

.table-hover .table-success:hover {
  background-color: #d0e9c6; }
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #d0e9c6; }

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7; }

.table-hover .table-info:hover {
  background-color: #c4e3f3; }
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #c4e3f3; }

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3; }

.table-hover .table-warning:hover {
  background-color: #faf2cc; }
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #faf2cc; }

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede; }

.table-hover .table-danger:hover {
  background-color: #ebcccc; }
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #ebcccc; }

.thead-inverse th {
  color: #e4e5e6;
  background-color: #263238; }

.thead-default th {
  color: #607d8b;
  background-color: #cfd8dc; }

.table-inverse {
  color: #e4e5e6;
  background-color: #263238; }
  .table-inverse th,
  .table-inverse td,
  .table-inverse thead th {
    border-color: #35464f; }
  .table-inverse.table-bordered {
    border: 0; }
  .table-inverse.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05); }
  .table-inverse.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.075); }

@media (max-width: 991px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive.table-bordered {
      border: 0; } }


.table-outline {
  border: 1px solid #cfd8dc; }
  .table-outline td {
    vertical-align: middle; }

.table-align-middle td {
  vertical-align: middle; }

.table-clear td {
  border: 0; }
