<div class="ngdialog-message">
  <h3 class="confirmation-title"><i class="fa fa-exclamation-triangle text-warning"></i> {{message_title}}</h3>
  <span>{{message_content}}</span>
  <div class="ngdialog-buttons mt-3">
    <button ng-if="dialog_type === 1" class="btn btn-primary pull-right" ng-click="confirm(confirmValue)">{{buton_label}}</button>
    <button ng-if="dialog_type === 2" class="btn btn-warning pull-right" ng-click="confirm(confirmValue)">{{buton_label}}</button>
    <button ng-if="dialog_type === 3" class="btn btn-danger pull-right" ng-click="confirm(confirmValue)">{{buton_label}}</button>
    <button class="btn btn-default pull-right mr-1" ng-click="closeThisDialog()">Cancel</button>
  </div>
</div>