.app-header {
  flex: 0 0 55px;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s; }

.header-fixed .app-header {
  position: fixed;
  z-index: 1020;
  width: 100%; }
.header-fixed .app-body {
  margin-top: 55px; }

.app-header.navbar {
  position: relative;
  flex-direction: row;
  height: 55px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-bottom: 1px solid #cfd8dc; }
  .app-header.navbar .navbar-brand {
    display: inline-block;
    width: 155px;
    height: 55px;
    padding: 0.5rem 1rem;
    margin-right: 0;
    background-color: #fff;
    background-image: url("../img/brand/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px auto;
    border-bottom: 1px solid #cfd8dc; }
  .app-header.navbar .navbar-nav {
    flex-direction: row;
    align-items: center; }
  .app-header.navbar .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0 !important;
    text-align: center; }
    .app-header.navbar .nav-item button {
      margin: 0 auto; }
    .app-header.navbar .nav-item .nav-link, .app-header.navbar .nav-item .dropdown-toggle {
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
      background: 0; }
      .app-header.navbar .nav-item .nav-link .badge, .app-header.navbar .nav-item .dropdown-toggle .badge {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: 0; }
      .app-header.navbar .nav-item .nav-link > .img-avatar, .app-header.navbar .nav-item .dropdown-toggle > .img-avatar {
        height: 35px;
        margin: 0 10px; }
  .app-header.navbar .dropdown-menu {
    padding-bottom: 0;
    line-height: 1.5; }
  .app-header.navbar .dropdown-item {
    min-width: 180px; }

.navbar-brand {
  color: rgba(0, 0, 0, 0.8); }
  .navbar-brand:focus, .navbar-brand:hover {
    color: rgba(0, 0, 0, 0.8); }

.navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .dropdown-toggle {
  color: rgba(0, 0, 0, 0.3); }
  .navbar-nav .nav-link:focus, .navbar-nav .navbar .dropdown-toggle:focus, .navbar .navbar-nav .dropdown-toggle:focus, .navbar-nav .nav-link:hover, .navbar-nav .navbar .dropdown-toggle:hover, .navbar .navbar-nav .dropdown-toggle:hover {
    color: rgba(0, 0, 0, 0.6); }

.navbar-nav .open > .nav-link, .navbar-nav .navbar .open > .dropdown-toggle, .navbar .navbar-nav .open > .dropdown-toggle, .navbar-nav .open > .nav-link:focus, .navbar-nav .navbar .open > .dropdown-toggle:focus, .navbar .navbar-nav .open > .dropdown-toggle:focus, .navbar-nav .open > .nav-link:hover, .navbar-nav .navbar .open > .dropdown-toggle:hover, .navbar .navbar-nav .open > .dropdown-toggle:hover,
.navbar-nav .active > .nav-link,
.navbar-nav .navbar .active > .dropdown-toggle, .navbar
.navbar-nav .active > .dropdown-toggle,
.navbar-nav .active > .nav-link:focus,
.navbar-nav .navbar .active > .dropdown-toggle:focus, .navbar
.navbar-nav .active > .dropdown-toggle:focus,
.navbar-nav .active > .nav-link:hover,
.navbar-nav .navbar .active > .dropdown-toggle:hover, .navbar
.navbar-nav .active > .dropdown-toggle:hover,
.navbar-nav .nav-link.open,
.navbar-nav .navbar .open.dropdown-toggle, .navbar
.navbar-nav .open.dropdown-toggle,
.navbar-nav .nav-link.open:focus,
.navbar-nav .navbar .open.dropdown-toggle:focus, .navbar
.navbar-nav .open.dropdown-toggle:focus,
.navbar-nav .nav-link.open:hover,
.navbar-nav .navbar .open.dropdown-toggle:hover, .navbar
.navbar-nav .open.dropdown-toggle:hover,
.navbar-nav .nav-link.active,
.navbar-nav .navbar .active.dropdown-toggle, .navbar
.navbar-nav .active.dropdown-toggle,
.navbar-nav .nav-link.active:focus,
.navbar-nav .navbar .active.dropdown-toggle:focus, .navbar
.navbar-nav .active.dropdown-toggle:focus,
.navbar-nav .nav-link.active:hover,
.navbar-nav .navbar .active.dropdown-toggle:hover, .navbar
.navbar-nav .active.dropdown-toggle:hover {
  color: rgba(0, 0, 0, 0.8); }

.navbar .dropdown-toggle .img-avatar {
  height: 35px;
  margin: 0 10px; }

.navbar-divider {
  background-color: rgba(0, 0, 0, 0.075); }


@media (max-width: 991px) {
  .app-header {
    position: fixed !important;
    z-index: 1020;
    width: 100%; }
    .app-header .navbar-toggler {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: inherit; }
    .app-header .navbar-toggler {
      color: rgba(0, 0, 0, 0.3); }
    .app-header .navbar-brand {
      width: 100% !important;
      margin: 0 auto !important; }
    .app-header .navbar-nav {
      position: absolute;
      top: 0;
      right: 15px;
      height: inherit; }}