<div class="animated fadeIn">
  <div class="row pb-3">
    <div class="col-lg-12 text-center">
      <a class="btn btn-outline-primary" ui-sref="months.view({ monthId: vm.workdate.monthdb })">表に戻る</a>
      <span class="h2 mx-3" ng-bind="vm.currentDate.format('LL')"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">入力</div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group">
              <p class="mb-1">作業内容</p>
              <textarea id="work" name="work" rows="3" class="form-control" placeholder="作業内容を記入してください"></textarea>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <p class="text-center mb-1">開始</p>
                <div class="mx-auto" uib-timepicker ng-model="start" ng-change="vm.start_changed()" hour-step="1" minute-step="5" show-meridian="false"></div>
              </div>
              <div class="col-xs-6">
                <p class="text-center mb-1">終了</p>
                <div class="mx-auto" uib-timepicker ng-model="end" ng-change="vm.end_changed()" hour-step="1" minute-step="5" show-meridian="false"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label for="checkbox">
                  <input type="checkbox" id="checkbox" name="checkbox" value="option1"> 振替は休日出勤した日にチェックをしてください。チェックされた日を平日扱いに切り替えます。
                </label>
              </div>
            </div>
            <div class="form-group">
              <p class="mb-1">休日形態</p>
              <select class="form-control">
                <option value="1">年次有給</option>
                <option value="2">午前半休</option>
                <option value="3">午後半休</option>
                <option value="4">振替休日</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>