<div class="animated fadeIn">
  <div class="row pb-3">
    <div class="col-lg-12 text-center">
      <a class="btn btn-outline-primary" ui-sref="months.view({ monthId: vm.workdate.monthdb })">表に戻る</a>
      <span class="h2 mx-3" ng-bind="vm.currentDate.format('LL')"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">入力</div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">作業内容</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="作業内容を記入してください"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <div uib-timepicker ng-model="start" ng-change="vm.start_changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></div>
              </div>
              <div class="col-md-6">
                <div uib-timepicker ng-model="end" ng-change="vm.end_changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>